/* !important is used to override Vuetify's default styling */
.card {
  border-radius: 0 !important;
  background-color: whitesmoke !important;
}
/* Apply 10px margin to all content inside of card */
.card * {
  margin: 10px;
}
  /* Don't apply margins to rows or column divs */
.card .row {
  margin: 0 !important;
}
.card .col {
  margin: 0 !important;
}
